.banner-principal-decorativo
  &-1
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 69%
  &-2
    animation: float1 2.2s ease-in-out infinite alternate
    position: absolute
    top: 57%
    right: 20%
  &-3
    animation: float1 1.8s ease-in-out infinite alternate
    position: absolute
    top: 6%
    right: 27%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

// banner 
.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo-banner-general.png") !important